.site-layout {
  .site-header {
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px;
    &-content {
      position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      width: 100%;
      padding: 10px;
      &-icon {
        font-size: 20px;
        line-height: 36px;
      }

      &-breadcrumb {
        display: inline-block;
        line-height: 36px;
      }
    }
  }

  .site-sider-logo {
    height: 64px;
  }

  .site-content {
    background: white;
    margin: 5px;
    overflow: auto;
  }

  .site-footer {
    height: 35px;
    padding: 0px;
    text-align: center;
    position: relative;
    &-btn {
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 1px;
      cursor: pointer;
    }
  }

  .site-siderbar {
    .siderbar-title {
      height: 64px;
      padding: 10px 0;
    }
  }
}
.site-drawer {
  &-item {
    margin: 15px 2px;
    transition: 0.5s all;
    &-extra {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    &-btn {
      background: inherit;
      display: inline-block;
      transition: background-color 1s;
      padding: 0 1px;
      line-height: 16px;
      &:hover {
        background: #cdcdcd;
      }
      & > :first-child {
        background: #fff;
      }
    }

    &:hover {
      box-shadow: 0 0 10px 0px #ededed;
    }

    &-close {
      animation: drawerItemClose 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes drawerItemClose {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.site-content-t .content-tabs {
  height: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
}

.site-content-t .content-tabs .ant-tabs-content-holder {
  overflow: auto !important;
}
