body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.c-on-right {
  text-align: right;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-tb-10 {
  margin: 10px 0;
}

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}

.c-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.light-theme {
  --primary-color: #1890ff;
  --primary-color50: rgba(24, 144, 255, 0.5);
  --primary-color20: rgba(24, 144, 255, 0.2);
  --main-background-color: #ffffff;
  --text-color: rgba(0, 0, 0, 0.85);
  --text-color65: rgba(0, 0, 0, 0.65);
  --text-color45: rgba(0, 0, 0, 0.45);
  --text-color25: rgba(0, 0, 0, 0.25);
  --text-color10: rgba(0, 0, 0, 0.1);
  --title-text-color: #000000;
  --title-text-primary-color: #1890ff;
  /* --filter-background-image: url("./static/img/fiter_content_bg.png"); */
}
.dark-theme {
  --primary-color: #67b9b8;
  --primary-color50: rgba(103, 185, 184, 0.5);
  --primary-color20: rgba(103, 185, 184, 0.2);
  --main-background-color: #213853;
  --text-color: rgba(255, 255, 255, 0.85);
  --text-color65: rgba(182, 50, 50, 0.65);
  --text-color45: rgba(255, 255, 255, 0.45);
  --text-color25: rgba(255, 255, 255, 0.25);
  --text-color10: rgba(255, 255, 255, 0.1);
  --title-text-color: #ffffff;
  --title-text-primary-color: #ffffff;
  /* --filter-background-image: url("./static/img/fiter_content_bg_dark.png"); */
}
